#Prepare environment

In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns #pour faire des graph dans la bonne couleur etc.. par default
import glob
import re

#Upload datasets

> Define products to be taken into account for credited conversions

>/!\ Which products do you want to take into account????

In [3]:
#http://stackoverflow.com/questions/12096252/use-a-list-of-values-to-select-rows-from-a-pandas-dataframe
#gamme_prod = ['DN', 'DI', 'PD', 'TI', 'TN']
gamme_prod = ['DN', 'DI', 'PD', 'TI', 'TN','Mixte']

> Name of the files to be uploaded

> These should be hosted in the root folder

In [4]:
#file_quanti 
adServerFile = 'Report_Quantcast_mobilite_Standard_v1_M88Z5cUHryFJpRP_AA1S.xlsx'
#file_quali 
detailedFile = 'Report_Quantcast_mobilite_conversion_view_PNJjl0461vpIzpMgHrA7.csv'

In [5]:
#first file to be uploaded details of products part of each conversion
detailedConversions = pd.read_csv(detailedFile, dtype=object)

#We need to update the date format and strip hours
#http://stackoverflow.com/questions/26387986/strip-time-from-an-object-date-in-pandas
detailedConversions['conversion_date'] = pd.to_datetime(detailedConversions['Conversion date-hour'])
detailedConversions['conversion_date'] = detailedConversions['conversion_date'].apply(lambda x:x.date().strftime('%Y-%m-%d'))

In [7]:
#detailedConversions details products within each orders
#check what's in detailedConversions
#detailedConversions.count()

In [8]:
#then upload the second file. this is the regular 3PAS files with every conversions to which we contributed. 
xls_file = pd.ExcelFile(adServerFile)
adServerTable = xls_file.parse('DataView')

In [9]:
#adServerTable credits each order to a vendor
# /!\ We want to had details of orders containing products for which we are credited /!\
#check what's in adServerTable
#adServerTable.count()

In [10]:
#create functio that will be used to create matching key by concatenating several columns
#http://stackoverflow.com/questions/23444858/concatenate-column-values-in-pandas-dataframe-with-nan-values
def concat(*args):
    strs = [str(arg) for arg in args if not pd.isnull(arg)]
    return '_'.join(strs) if strs else np.nan

np_concat = np.vectorize(concat)

In [11]:
#We need to define the key to join both file. 
#first 3PAS report Key
adServerTable['key'] = np_concat(adServerTable['Date'], adServerTable['Site/Offer ID'], adServerTable['Insertion ID'], adServerTable['Creative ID'])
#QA the created key

#adServerTable[['Date','Site/Offer ID','Insertion ID','Creative ID', 'key']].head(3)

In [12]:
detailedConversions['key'] = np_concat(detailedConversions['conversion_date'], detailedConversions['Site-Offer ID'], detailedConversions['Insertion ID'], detailedConversions['Creative ID'])
#QA the created key
detailedConversions[['conversion_date','Site-Offer ID','Insertion ID','Creative ID', 'key']].head(3)

,conversion_date,Site-Offer ID,Insertion ID,Creative ID,key
0,2016-03-10,1123,7485,1731,2016-03-10_1123_7485_1731
1,2016-03-10,1123,7485,1731,2016-03-10_1123_7485_1731
2,2016-03-10,1123,7485,1731,2016-03-10_1123_7485_1731

> Let's define several functions that'll be used for cleaning datasets

In [13]:
# function aimed at cleaning revenue figures

def cleanrev(col):
    if col == '-':
        return 0.0
    else:
        return float(col)

In [14]:
# function aimed at cleaning products part of the orders

def cleanGamme(col,gamme_prod):
    items = list(set(col.split("|")) )
    if len(items) == 1:
        return items[0]
    elif re.search('|'.join(gamme_prod),col):
        return "Mixte"
    else:
        return "Mixte_non_comptabilise"

In [15]:
# function aimed at associating products and unit price
# /!\ We need to verify every product are added and quantity matches

def cleanProduitMix(df):
    items = df[0].split("|")
    prices = df[1].split("|")
    quantity = df[2].split("|")
    if len(items) == 1:
        return items[0] + '-%s' %float(prices[0]) #*float(quantity[0]))
    else:
#        mix = '%s-' %len(items)
        l = len(items)
        mix = ''
        for i in range(0,len(items)-2):
            mix = mix + items[i] + '-%s|' %float(prices[i]) #*float(quantity[i]))
        return mix + items[l-1] + '-%s' %float(prices[l-1]) #*float(quantity[l-1]))

In [16]:
#function aimed at concatenating several columns separated by '-'
def concatenate(df):
    if len(df)>0:
        c = ''
        l = len(df)-1
        for i in range (0, l-1):
            c = c + df[i] + '-'
        return c + df[l]
    else:
        return ''

> The goal here is to agregate orders constituted by credited products to the 3PAS file

In [26]:

details3PAS = detailedConversions[['key','nom_site','gamme_produit', 'prix_produit','nombre_produit' ,'prix_ht_zanox']]
details3PAS = pd.DataFrame(details3PAS).dropna()
    
details3PAS['revenue_transaction'] = details3PAS.prix_ht_zanox.apply(lambda x: cleanrev(x))
details3PAS['panier'] = details3PAS.gamme_produit.apply(lambda x: cleanGamme(x,gamme_prod))

#details3PAS.head(4)

In [27]:
#details3PAS[details3PAS.panier == 'Mixte'].head(4)

# /!\  Section to be used once files are correctly populated

In [18]:
#reorder products with unit prices

#http://stackoverflow.com/questions/13331698/how-to-apply-a-function-to-two-columns-of-pandas-dataframe
#http://stackoverflow.com/questions/19914937/applying-function-with-multiple-arguments-to-create-a-new-pandas-column

details3PAS['order'] = details3PAS[['gamme_produit','prix_produit','nombre_produit']].apply(cleanProduitMix, axis = 1)
details3PAS = details3PAS.drop(['gamme_produit','nombre_produit','prix_produit','prix_ht_zanox'],1)

#details3PAS.head(5)

In [19]:
# It seems files are not accurately populated. 
# As basket details don't match actual basket (sum does not equals revenue transaction) we cannot use Mixed baskets


#details3PAS[details3PAS.panier == 'Mixte'].head(10)

> We need to create a row per product purchased

In [20]:
#http://stackoverflow.com/questions/17116814/pandas-how-do-i-split-text-in-a-column-into-multiple-rows
#http://stackoverflow.com/questions/33622470/fast-way-to-split-column-into-multiple-rows-in-pandas

s = details3PAS['order'].str.split("|", expand=True).stack()
i = s.index.get_level_values(0)
df = details3PAS.loc[i].copy()
df["order"] = s.values


#df.head(20)

In [21]:
df = df.drop(['gamme_produit','prix_produit', 'prix_ht_zanox'], 1)

s = df.order.apply(lambda x: pd.Series(x.split('-')))

df = df.drop(['order'], 1)

# prepare columns name for when we split order column
c = df.columns.values
c = np.append('key','item','unit_price'], axis = 0)

df = df.join(s)
df.columns =  c

#df.head(15)

SyntaxError: invalid syntax (<ipython-input-21-9c4b9ff1182d>, line 9)

In [22]:
#df.tail(3)

> Performances summary

In [23]:
#df.count()

# /!\ filter dataset

In [28]:
details3PAS.count()

key                    3647
nom_site               3647
gamme_produit          3647
prix_produit           3647
nombre_produit         3647
prix_ht_zanox          3647
revenue_transaction    3647
panier                 3647
dtype: int64

In [29]:
dataSet3PAS= details3PAS.drop(['gamme_produit','nombre_produit','prix_produit','prix_ht_zanox'],1)
#dataSet3PAS.head(3)

In [30]:
dataSet3PAS = dataSet3PAS[dataSet3PAS.panier.isin(gamme_prod)]
#dataSet3PAS.head(5)

In [31]:
transactions = dataSet3PAS.groupby(['key']).count()
revenue = dataSet3PAS.groupby(['key']).sum()
ds = pd.DataFrame(transactions,revenue)

In [32]:
transactions = pd.DataFrame(dataSet3PAS.groupby(["key"]).sum()["revenue_transaction"])
revenue = pd.DataFrame(dataSet3PAS.groupby(["key"]).count()["panier"])
ds = transactions.join(revenue).reset_index()
#c = np.append('key', 'revenue', 'conversions',axis =0)
ds.columns = ['key', 'revenue', 'conversions']


#ds.head(5)

In [33]:
#dataSet3PAS[dataSet3PAS.key == '2016-03-10_1123_7485_1731']

In [34]:
#ds[ds.key == '2016-03-10_1123_7485_1731']

In [35]:
final_ds = pd.merge(adServerTable,ds, on='key')

In [36]:
#final_ds[final_ds.key == '2016-03-10_1123_7485_1731'].head(5)

In [37]:
final_ds = final_ds[['Date', 'Site/Offer ID','Site/Offer', 'Insertion ID', 'Insertion', 'Creative ID', 'Creative', 'Creative Sizes','Imp.', 'Clicks','conversions', 'revenue', 'key' ]]

In [38]:
#final_ds.head(4)

In [39]:
final_ds.to_csv('3pas_report_final.csv', index=False,encoding='utf-8')
print('Done')

Done